<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <title>Gym Membership Form</title>
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="text-center">Member</h1>
                    <form action="/login" method="POST">
                        {% csrf_token %}
                        <label class="label control-label">E-mail</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input type="text" class="form-control" id="mail" name="mail" placeholder="E-mail">
                        </div>
                        <label class="label control-label">Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <button class="btn btn-primary">Sign In</button>
                        <p class="text-center">Not a member yet? <a href="/register">Sign Up</a></p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>